textarea, input:focus {
    outline: none;
}
h3{
    color: #757575;
    z-index: 2; /* Hace que el h3 esté en una capa superior */
    
}
#arrow-back {
    position: absolute;
    z-index: 1;
    max-height: 6vh;
    margin-left: 10px;
    transition: max-height 0.3s ease-in-out; /* Agrega una transición para suavizar el cambio de tamaño */
}

#arrow-back:hover {
    cursor: pointer;
    max-height: 7vh; /* Cambia el tamaño cuando el mouse está sobre el elemento */
}
#bk {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(250, 0, 80) 50%, white 50%);
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}
#regresar{
    width: 100%;
}
#div-login {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté encima del fondo */
    background-color: rgba(65, 61, 75, 0.75);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-formulario{
    background-color: white;
    height: 85%;
    width: 45%;
    border-radius:10px;
    padding: 20px;
    overflow: auto; /* Agrega la barra de desplazamiento automáticamente cuando sea necesario */
}
#div-arrow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
#div-formulario::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}
#div-formulario::-webkit-scrollbar-thumb  {
     /* Color de la pista de la barra de desplazamiento */
    /*background-color: #EA044E;*/
     background-color:#4FC3C3;
     border-radius: 0px 15px 15px 0px;
}
.input-login{
    border: 0;
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    color: #757575;
}

.div-input{
    border-bottom: 1.7px solid #c6c6c6;
    padding: 10px;
    margin-bottom:10px;
}

